@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
  font-family: 'Ubuntu', sans-serif;
}


body {
    margin: 0;
    background: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

#ContactPage {
    background: gray;
}

.contact-us {
    width: 250px;
    background: #fff;
    padding: 50px;
    margin: 100px auto;
    border-radius: 30px;
    position: relative;
}

.title h1 {
    clear: #535274;
    letter-spacing: 5px;
    margin-bottom: 25px;
    text-align: center;
}

.form,
.form-items {
    width: 100%;
}

.form-items .input {
    width: 100%;
    margin-bottom: 12px;
    padding: 15px 40px;
    box-sizing: border-box;
    background: #ebeef1;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.form-items .input.message {
    height: 125px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px;
    resize: none;
}

.btn {
    background: gray;
    text-align: center;
    color: #fff;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
}

.btn .fas{
    margin-left: 10px;
    font-size: 12px;
}

.form-items{
    position: relative;
}

.form-items .fas{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #9a99aa;
}

.social-icons{
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.social-icons div{
    width: 50px;
    height: 50px;
    background: #5178d9;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.social-icons div .fab{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

.social-icons div .facebook{
    background: #5178d9;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #55d6aa;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.alignleft {
    float: left;
    padding: 0px;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav a:hover {
    color: #000
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}